@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.tpe12thmayor2025to2038.idv.tw">星空下微風輕拂黃光閃耀的世界</a>
        </div>
        <div class="top-row px-4">
            <a href="https://www.tpe12thmayor2025to2038.com">星空下微風輕拂黃光閃耀的世界零</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
